<nav class="navigation-bar">
  <ul class="navigation">
      <li>
          <a href="/">
              <i class="bx bx-home"></i>
              Home
          </a>
      </li>
      <li>
          <a href="/about">
              <i class="bx bx-info-circle"></i>
              About
          </a>
      </li>
      <li class="ask-button">
        <a href="/ask">
            <i class="bx bx-help-circle"></i>
            Ask 
        </a>
    </li>
      <li>
          <a href="/contact">
              <i class="bx bx-envelope"></i>
              Contact
          </a>
      </li>
      <li>
          <a href="/services">
              <i class="bx bx-support"></i>
              Services
          </a>
      </li>
  </ul>
</nav>





  