<section class="course-content">
  <div class="about-author">
    <div class="about-author">
      <!-- Фото Dima Fomina -->
      <img src="/images/project.png" alt="Dima Fomin" class="author-img">
    </div>
    <div class="course-content">
      <h2>Dima Fomin</h2>
      <p>Dima Fomin to mistrz sushi, który naucza ludzi przygotowywać autorskie potrawy w 5 prostych krokach. Dzięki jego autorskim przepisom każdy może nauczyć się gotować autorskie produkty i stworzyć swoją markę w tym wielkim biznesie.</p>
    </div>
  </div>
</section>

<section class="course-content">
  <h3 class="h3">O mnie</h3>
  <p class="p">Od 20 lat profesjonalnie zajmuję się produktami spożywczymi, pracując w różnych krajach. W tym czasie poznałem wiele technologii, które pozwalają tworzyć nowe dania i podejścia do kulinariów. 
    <img src="/images/IMG_2585.JPG" alt="Szef kuchni w akcji" class="author-img"> 
  </p>
  
  <p class="p">Na tym blogu dowiesz się, jak tworzyć nowe produkty, jakie sprzęty są potrzebne, a także jakie nowoczesne technologie warto poznać, aby nie tylko stać się szefem kuchni, ale także skutecznie zarządzać własnym biznesem. 
    <img src="/images/Rectangle 34.png" alt="Technologia kuchni" class="author-img">
  </p>
  
  <p class="p">Ten blog jest dla tych, którzy chcą odkrywać fascynujące kombinacje smaków. Chcę podzielić się z tobą moją wiedzą i nauczyć cię przygotowywać nowe dania, które zachwycą ciebie i twoich bliskich. Dla każdego kucharza możliwość tworzenia potraw z dostępnych składników to niesamowity i ekscytujący proces.
    <img src="/images/DSCF4689 1.png" alt="Świeże składniki" class="author-img">
  </p>
  
  <p class="p">Surowe przepisy mogą ograniczać kreatywność, a do niedawna metodą prób i błędów był jedyny sposób na odkrycie, jakie składniki dobrze się ze sobą łączą. Dekorowanie stołu rodzinnym dziełem kulinarnym to podwójna przyjemność, ponieważ nowe danie przynosi radość zarówno wam, jak i waszym bliskim.
    <img src="/images/DSCF4695.jpg" alt="Piękne danie" class="author-img">
  </p>
  
  <p class="p">Jak w każdym fachu, ważna jest umiejętność posługiwania się narzędziami i znajomość procesów technologicznych. Rzemiosło kulinarne wymaga zrozumienia, jak składniki wchodzą w interakcję ze sobą. Na tym blogu opowiem, z jakimi produktami pracuję, jakie korzyści one przynoszą i jak je wykorzystać do tworzenia unikalnych dań.
    <img src="/images/DSCF4697.jpg" alt="Narzędzia kuchenne" class="author-img">
  </p>
  
  <p class="p">Czy jesteś doświadczonym kucharzem, czy dopiero zaczynasz? Niezależnie od tego, kim jesteś, mam nadzieję, że ten blog pomoże ci rozwinąć swoje talenty. Dodaj szczyptę nauki o smaku do swojego przepisu, a niech ten blog otworzy przed tobą świat nowych kulinarnych odkryć! 
    <img src="/images/20200917_135618.jpg" alt="Proces gotowania" class="author-img">
  </p>
  
  <p class="p">Z każdym nowym przepisem, z każdym daniem, które tworzysz, nie tylko uczysz innych, ale także wzbogacasz swoją kulinarną paletę. Inspiruj się i nie bój się eksperymentować w kuchni! 
    <img src="/images/20201127_103023.jpg" alt="Gotowe danie" class="author-img">
  </p>
</section>


  




