<main id="main-content">
  <section class="course-content">
    <div class="course-content">
      <div class="author-photo">
        <!-- Фото Димы Фомина -->
        <img src="/images/project.png" alt="Dima Fomin" class="author-img">
      </div>
      <div class="course-content">
        <h2>Dima Fomin</h2>
        <p>Дима Фомин — мастер суши, который обучает людей по всему миру готовить суши в 9 простых шагах. С помощью его авторских рецептов, каждый может научиться готовить суши дома и создавать удивительные блюда, которые можно подать друзьям и близким.</p>
      </div>
    </div>
  </section>

  <!-- 9 шагов к мастерству в приготовлении суши -->
  <section class="course-content">
    <h3>9 шагов к мастерству в приготовлении суши</h3>
    <ul>
      <li>1. Подготовка ингредиентов</li>
      <li>2. Приготовление риса для суши</li>
      <li>3. Выбор свежих морепродуктов</li>
      <li>4. Правильное нарезание рыбы</li>
      <li>5. Приготовление рисового уксуса</li>
      <li>6. Формирование суши</li>
      <li>7. Добавление начинки</li>
      <li>8. Презентация суши</li>
      <li>9. Подавать и наслаждаться!</li>
    </ul>
  </section>


</main>

