
<section class="course-content">
  <div class="">
    <div class="author-photo">
      <!-- Фото Димы Фомина -->
      <img src="/images/project.png" alt="Dima Fomin" class="author-img">
    </div>
    <div class="course-content">
      <h2>Dima Fomin</h2>
      <p>Дима Фомин — мастер суши, который обучает людей готовить авторские продукты в 5 простых шагов. С помощью его авторских рецептов каждый может научиться готовить авторские продукты, и создать свой Бренд в этом большом Бизнесе .</p>
    </div>
  </div>
</section>


  <section class="course-content">
    <h3 class="h3">О себе</h3>
    <p class="p">Уже как 20 лет я профессионально занимаюсь продуктами, работая в разных странах. За это время я познакомился с множеством технологий, которые позволяют создавать новые блюда и подходы к кулинарии.</p>
  
    <p class="p">В этом блоге вы узнаете, как создавать новые продукты, какое оборудование необходимо, а также какие современные технологии стоит изучить повару, чтобы не только стать шеф-поваром, но и успешно управлять собственным бизнесом.</p>
  
    <p class="p">Этот блог написан для тех, кто готов открыть для себя восхитительные комбинации вкусов. Я хочу поделиться с вами своими знаниями и научить вас готовить новые блюда, которые удивят вас и ваших близких. Для каждого повара возможность творить из доступных ингредиентов — это невероятный и захватывающий процесс.</p>
  
    <p class="p">Строгие рецепты могут ограничивать творчество, и до недавнего времени методом проб и ошибок было единственным способом узнать, какие продукты хорошо сочетаются. Украшение семейного стола своими кулинарными шедеврами — это двойное удовольствие, ведь новое блюдо приносит радость вам и вашим близким.</p>
  
    <p class="p">Как и в любом деле, важно умение обращаться с инструментами и знание технологических процессов. Поварское ремесло требует понимания того, как продукты взаимодействуют друг с другом. В этом блоге я расскажу, с какими продуктами я работаю, какую пользу они приносят и как их использовать для создания уникальных блюд.</p>
  
    <p class="p">Вы — опытный повар или только начинающий? Кем бы вы ни были, я надеюсь, что этот блог поможет вам раскрыть свои таланты. Добавьте щепотку науки о вкусе в свое блюдо знаний, и пусть этот блог откроет для вас мир новых гастрономических открытий!</p>
  </section>
  




