<script type="module">
  import { trainModel } from './model_training.js';
</script>
<section class="course-content1">
  <div id="result" class="result chat-window">
    <!-- Пример сообщений чата -->
   
  </div>
  <div class="chat-input-container">
    <i class="bx bx-plus-circle chat-icon"></i>
    <input type="text" id="custom-input" class="chat-input" placeholder="Ваш вопрос..." />
    <button id="send-message" class="chat-icon">
      <i class="bx bx-send"></i>
    </button>
  </div>
</section>











