 <!-- views/home.ejs -->
<h2>Welcome to Master Sushi!</h2>
<p>Experience the finest sushi with fresh ingredients and traditional recipes.</p>

<img src="/images/005.jpg" alt="Fresh Sushi" class="home-image">

<section class="menu-preview">
  <h3>Our Menu</h3>
  <p>Explore our wide variety of delicious sushi rolls and dishes.</p>
  <ul>
    <li>Sushi Roll 1 - $10</li>
    <li>Sushi Roll 2 - $15</li>
    <li>Sushi Roll 3 - $12</li>
    <li>Sushi Roll 4 - $18</li>
  </ul>
  <a href="/menu" class="btn">See Full Menu</a>
</section>

<section class="about-us">
  <h3>About Us</h3>
  <p>At Master Sushi, we pride ourselves on serving the freshest sushi with the best ingredients. Our chefs are experts in creating traditional and innovative sushi rolls that will satisfy any craving.</p>
</section>
