<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0,user-scalable=no">
  <link rel="manifest" href="/manifest.json">
  <link href="https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css" rel="stylesheet">
  <link rel="stylesheet" href="/css/index.css">
  
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">

  <meta name="theme-color" content="#282828">
  <title><%= title %></title>
</head>
<body>
  <!-- Хедер -->
  <header>
    <div class="header-container">
      <img src="/images/Group 5.svg" alt="Master Sushi Logo" class="logo">
      <h1>Master Sushi</h1>
    </div>
  </header>

  <!-- Навигация -->
  <nav class="nav-bar">
    <ul>
      <li>
        <a href="/home" class="nav-link" data-page="/home">
          <i class="bx bx-home"></i>
        </a>
      </li>
      <li>
        <a href="/about" class="nav-link" data-page="/about">
          <i class="bx bx-info-circle"></i>
        </a>
      </li>
      <li>
        <a href="/ask" class="nav-link" data-page="/ask">
          <i class="bx bx-question-mark"></i>
        </a>
      </li>
     
      <li>
        <a href="/recipes" class="nav-link" data-page="/recipes">
          <i class="bx bx-book"></i>
        </a>
      </li>
      <li>
        <a href="/contact" class="nav-link" data-page="/contact">
          <i class="bx bx-phone"></i>
        </a>
      </li>
    </ul>
  </nav>

  <!-- Контейнер для динамического контента -->
  <main id="main-content">
    <!-- Контент будет загружаться сюда -->
  </main>

  <!-- Скрипт для навигации -->
  <script src="/js/navigation_script.js"></script>
</body>
</html>
