<!-- views/menu.ejs -->
<h2>Menu Page</h2>
<p>Welcome to the Menu page!</p>

<!-- Добавьте список меню или другие компоненты, которые вы хотите отображать -->
<ul>
  <li>Dish 1 - $10</li>
  <li>Dish 2 - $15</li>
  <li>Dish 3 - $12</li>
  <li>Dish 4 - $18</li>
</ul>
