<!-- views/recipes.ejs -->
<h2>Recipes Page</h2>
<p>Here are some of our favorite sushi recipes:</p>

<!-- Пример списка рецептов -->
<ul>
  <li>Sushi Roll 1 - Ingredients: Rice, Fish, Seaweed</li>
  <li>Sushi Roll 2 - Ingredients: Rice, Shrimp, Avocado</li>
  <li>Sushi Roll 3 - Ingredients: Rice, Tuna, Cucumber</li>
  <li>Sushi Roll 4 - Ingredients: Rice, Salmon, Seaweed</li>
</ul>

<p>For full recipes, please contact us or visit our restaurant!</p>
 