<section class="course-content">
  <h2 class="course-title">Strona przepisów</h2>
  <p class="course-description">Oto niektóre z naszych ulubionych przepisów na sushi:</p>

  <!-- Przepis 1 -->
  <div class="recipe-card">
    <img src="/images/001.jpg" alt="Sushi Roll 1" class="author-img" />
    <div class="recipe-details">
      <h3 class="course-item">Sushi Roll 1</h3>
      <p class="course-item">Składniki:</p>
      <ol class="ingredients-list">
        <li>Ryż - 100g</li>
        <li>Tuńczyk - 80g</li>
        <li>Wodorosty - 2 arkusze</li>
      </ol>
      <p class="course-item">Ten klasyczny sushi roll z świeżym tuńczykiem i wodorostami zawiniętymi wokół przyprawionego ryżu.</p>
      <p class="course-item">Waga: 250 g, Wyjście: 4 kawałki</p>
    </div>
  </div>

  <!-- Przepis 2 -->
  <div class="recipe-card">
    <img src="/images/002.jpg" alt="Sushi Roll 2" class="author-img" />
    <div class="recipe-details">
      <h3 class="course-item">Sushi Roll 2</h3>
      <p class="course-item">Składniki:</p>
      <ol class="ingredients-list">
        <li>Ryż - 100g</li>
        <li>Krewetki - 70g</li>
        <li>Awokado - 50g</li>
        <li>Wodorosty - 2 arkusze</li>
      </ol>
      <p class="course-item">Pyszne połączenie krewetek i kremowego awokado zawinięte w ryż i wodorosty.</p>
      <p class="course-item">Waga: 280 g, Wyjście: 4 kawałki</p>
    </div>
  </div>

  <!-- Прзпис 3 -->
  <div class="recipe-card">
    <img src="/images/003.jpg" alt="Sushi Roll 3" class="author-img" />
    <div class="recipe-details">
      <h3 class="course-item">Sushi Roll 3</h3>
      <p class="course-item">Składniki:</p>
      <ol class="ingredients-list">
        <li>Ryż - 100g</li>
        <li>Tuńczyk - 80g</li>
        <li>Ogórek - 50g</li>
        <li>Wodorosty - 2 arkusze</li>
      </ol>
      <p class="course-item">Świeży tuńczyk połączony z chrupiącym ogórkiem dla odświeżającego doświadczenia sushi.</p>
      <p class="course-item">Waga: 220 g, Wyjście: 4 kawałki</p>
    </div>
  </div>

  <!-- Прзпис 4 -->
  <div class="recipe-card">
    <img src="/images/004.jpg" alt="Sushi Roll 4" class="author-img" />
    <div class="recipe-details">
      <h3 class="course-item">Sushi Roll 4</h3>
      <p class="course-item">Składniki:</p>
      <ol class="ingredients-list">
        <li>Ryż - 100g</li>
        <li>Łosoś - 80g</li>
        <li>Wodorosty - 2 arkusze</li>
      </ol>
      <p class="course-item">Łosoś i wodorosty łączą się, tworząc lekkie i aromatyczne sushi roll.</p>
      <p class="course-item">Waga: 260 g, Wyjście: 4 kawałki</p>
    </div>
  </div>
</section>





