<script type="module">
  import { trainModel } from './model_training.js';
</script>

<section class="course-content">
  <h2 class="course-content">Recipes Page</h2>
  <p class="course-content">Here are some of our favorite sushi recipes:</p>

  <!-- Пример списка рецептов -->
  <ul class="course-content">
    <li class="recipe-item">Sushi Roll 1 - Ingredients: Rice, Fish, Seaweed</li>
    <li class="recipe-item">Sushi Roll 2 - Ingredients: Rice, Shrimp, Avocado</li>
    <li class="recipe-item">Sushi Roll 3 - Ingredients: Rice, Tuna, Cucumber</li>
    <li class="recipe-item">Sushi Roll 4 - Ingredients: Rice, Salmon, Seaweed</li>
  </ul>

  <p class="footer"></p>
</section>


